*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#04091b 0%, #091540 100%), #fff;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 343px;
  display: flex;
  background-color: #202535;
  border-radius: var(--corner-radius-10, 10px);
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.header-box1 {
  display: flex;
  gap: 1rem;
}

.header-box2 {
  width: 50px;
  height: 50px;
  border-radius: var(--corner-radius-12, 12px);
  background: var(--colors-neutral-700, #2f364b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Geologica", sans-serif;
  color: white;
}

/* SECTION */

section {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  color: var(--colors-neutral-0, #fbfdfe);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
}

.filter-box {
  display: flex;
  gap: 10px;
}

.active {
  background: var(--colors-red-400, #f25c54);
}

.btn1 {
  border-radius: var(--corner-radius-full, 999px);
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--colors-neutral-700, #2f364b);
  color: white;
  gap: 10px;
  font-size: 20px;
  border: none;
}

.active {
  background: var(--colors-red-400, #f25c54);
}

.btn2 {
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-600, #535868);
  background: var(--colors-neutral-700, #2f364b);
  font-size: 20px;
  color: white;
  border: none;
}

.btn3 {
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-600, #535868);
  background: var(--colors-neutral-700, #2f364b);
  font-size: 20px;
  color: white;
  border: none;
}

.active {
  background: var(--colors-red-400, #f25c54);
}

main {
  color: white;
}

main .card {
  width: 303px;
  height: 190px;
  padding: 20px;
  border-radius: var(--corner-radius-20, 20px);
  background: #202535;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.card-box1 {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.box1-box1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.box1-box1 p{
  color: var(--colors-neutral-300, #C6C6C6);

/* text-preset-5 */
font-family: "Noto Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
letter-spacing: -0.5px;
}

.card-box1 .box1-box1 h4 {
  color: var(--colors-neutral-0, #fbfdfe);

  /* text-preset-2 */
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}

.card-box1,
p {
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.5px;
}


.card-box2 {
  display: flex;
  justify-content: space-between;
}

.card-box2 .butt1 {
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-600, #535868);
  display: flex;
  padding: var(--spacing-100, 8px) var(--spacing-200, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  color: white;
}

.toggle{
  visibility: hidden;
}

.label{
  width: 36px;
  height: 20px;
  background-color:white ;
  
}

.checkbox{
  width: 36px;
  height: 20px;
  border-radius: 80%;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  border-radius: var(--corner-radius-full, 999px);
background: var(--colors-neutral-600, #535868);
}

.checkbox::before{
  position: absolute;
  content: '';
  background-color: white;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  top: 1px; ;
  display: hidden;
}


input:checked + .checkbox{
  background-color: #F25C54;
}

input:checked + .checkbox::before{
  transform: translateX(1.1rem);
}

input{
  display: none;
}

.card-box2{
  display: flex;
  align-items: center;}

.rmove{
  padding: 8px;
  border-radius: 30px;
  color: var(--colors-neutral-0, #FBFDFE);
  cursor: pointer;

/* text-preset-6 */
font-family: "Noto Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
letter-spacing: -0.5px;
background-color: transparent;
  color: var(--colors-neutral-0, #FBFDFE);
border:#535868 solid 1px;
  

}