* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.darkmode {
  background: linear-gradient(#04091b 0%, #091540 100%), #fff;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
  
.lightmode {
 background: linear-gradient(180deg, #EBF2FC 0%, #EEFBF9 100%), #FFF;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}



.darkmode .header {
  width: 343px;
  display: flex;
  background-color: #202535;
  border-radius: var(--corner-radius-10, 10px);
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-top: 30px;
  padding-left: 12px;
  padding-right: 12px;
}
.lightmode .header {
  width: 343px;
  display: flex;
  background-color: #FBFDFE;
  border-radius: var(--corner-radius-10, 10px);
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-top: 30px;
  padding-left: 12px;
  padding-right: 12px;
}

.header-box1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}




.darkmode .header-box2 {
  width: 50px;
  height: 50px;
  border-radius: var(--corner-radius-12, 12px);
  background: var(--colors-neutral-700, #2f364b);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightmode .header-box2 {
  width: 50px;
  height: 50px;
  border-radius: var(--corner-radius-12, 12px);
  background: var(--colors-neutral-700, #EEEEEE);
  display: flex;
  justify-content: center;
  align-items: center;
}




.sun-btn{
display: flex;
width: 50px;
height: 50px;
justify-content: center;
align-items: center;
background: none;
border: none;
border-radius: var(--corner-radius-12, 12px);
cursor: pointer;
}

.lightmode .sun-btn {
  display: none;  
}


.darkmode .moon-btn{
  display: none;
}

.lightmode .moon-btn{
  display: flex;
width: 50px;
height: 50px;
justify-content: center;
align-items: center;
background: none;
border: none;
border-radius: var(--corner-radius-12, 12px);
cursor: pointer;
}




 

.sun-btn:focus{
  border: 2px solid #F25C54;
}

.sun:focus{
  border: 2px solid #F25C54;
}

.darkmode .h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Geologica", sans-serif;
  color: white;
}

.lightmode .h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Geologica", sans-serif;
  color: #091540;
}



/* SECTION */

section {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkmode .h1 {
  color: var(--colors-neutral-0, #fbfdfe);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.lightmode .h1 {
  color: var(--colors-neutral-0, #091540);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.filter-box {
  display: flex;
  gap: 10px;
}

.active {
  background: var(--colors-red-400, #f25c54);
}



.darkmode .btn1 {
  border-radius: var(--corner-radius-full, 999px);
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--colors-neutral-700, #2f364b);
  color: white;
  gap: 10px;
  font-size: 20px;
  border: none;
}
.lightmode .btn1, .lightmode .btn2, .lightmode .btn3 {
  border-radius: var(--corner-radius-full, 999px);
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--colors-neutral-700, #FBFDFE);
  color: #091540;
  gap: 10px;
  font-size: 20px;
  border: none;
}

.active {
  background: var(--colors-red-400, #f25c54);
  color: black;
  
}

.darkmode .btn1:hover, .darkmode .btn2:hover, .darkmode .btn3:hover {

  background: #535868
}

.btn1:focus, .btn2:focus, .btn3:focus {
  border: 2px solid #F25C54
 ;
}

.btn2 {
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-600, #535868);
  background: var(--colors-neutral-700, #2f364b);
  font-size: 20px;
  color: white;
  border: none;
}

.btn3 {
  display: flex;
  padding: var(--spacing-100, 8px) 20px var(--spacing-125, 10px) 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-600, #535868);
  background: var(--colors-neutral-700, #2f364b);
  font-size: 20px;
  color: white;
  border: none;
}

.darkmode .active {
  background: var(--colors-red-400, #f25c54);
  color: #091540;

}

.lightmode .active {
  background: var(--colors-red-400, #f25c54);
  color: white;
}

main {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.darkmode main .card {
  width: 303px;
  padding: 20px;
  border-radius: var(--corner-radius-20, 20px);
  background: #202535;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lightmode main .card {
  width: 303px;
  padding: 20px;
  border-radius: var(--corner-radius-20, 20px);
  background: #FBFDFE;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-box1 {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  height: 8rem;
}

.box1-box1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.darkmode .box1-box1 p {
  color: var(--colors-neutral-300, #c6c6c6);

  /* text-preset-5 */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.5px;
}

.lightmode .box1-box1 p {
  color: var(--colors-neutral-300, #535868);

  /* text-preset-5 */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.5px;
}

.darkmode .card-box1 .box1-box1 h4 {
  color: var(--colors-neutral-0, #fbfdfe);

  /* text-preset-2 */
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}
.lightmode .card-box1 .box1-box1 h4 {
  color: var(--colors-neutral-0, #091540);

  /* text-preset-2 */
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}

.card-box1,
p {
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.5px;
  
}

.card-box2 {
  display: flex;
  justify-content: space-between;
}

.card-box2 .butt1 {
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-600, #535868);
  display: flex;
  padding: var(--spacing-100, 8px) var(--spacing-200, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  color: white;
}



.darkmode .rmove {
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.5px;
  background-color: transparent;
  border: #535868 solid 1px;
  color:#FBFDFE ;
}

.lightmode .rmove {
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.5px;
  background-color: transparent;
  border: #535868 solid 1px;
}

.rmove:hover {
  background-color: #F25C54;
  color: black
}

.rmove:focus{
  border: 2px solid #F25C54;
  background-color: #535868 ;
}

.active:hover{
  background-color:#DE4840 ;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F25C54;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F25C54;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* MEDIA QuEERs */

@media (min-width: 768px) {
  


  .darkmode header {
    min-width: 90vw;
  }

  .lightmode header {
    min-width: 90vw;
  }

  .darkmode section {
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .lightmode section {
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .darkmode main{
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
  }
  .lightmode main{
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
  }

  .darkmode main .card{
    width:48%;
height: 200px;
  }
  .lightmode main .card{
    width:48%;

}



/* MEDIA QUEERIES FOR DESKTOP */

@media (min-width: 1024px) {
  header{
    width: 88vw;
  }

  section {
    width: 88vw;
    justify-content: space-between;
  }

  main{
    width: 88vw;
    
  }
  main .card{
    width: 31%;
    height: 220px;
  }

 
}